<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" name="email" [(ngModel)]="loginInfo.email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="pwd" [(ngModel)]="loginInfo.pwd" required>
            </div>
            <div *ngIf="showText" class="alert alert-danger" role="alert">Invalid credentials</div>
            <button type="submit" class="btn btn-primary" (click)="onLogin()">Login</button>
         
          </form>
        </div>
      </div>
    </div>
  </div>
</div>